/* Will be compiled down to a single stylesheet with your sass files */

body {
    font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
/*    font-size: 14px; */
}



#ima-brand {
    margin-bottom: 20px;
}

#ima-slogan {
    position: relative;
    left: -35px;
}

.nav-justified > li > a {
    background-color: #dd4814;
}

.nav-justified > .active > a:focus {
    background-color: #b83c11;
}