<p>This is Service Page</p>


<div class="dropdown">
  <!-- Link or button to toggle dropdown -->
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>


<p>The end</p>

<br/>
<br/>


<ul class="nav nav-tabs">
	<li class = "active"><a href = "#">Home</a></li>
	<li><a href = "#">Profile</a></li>
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown">Dropdown<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#">Action</a></li>
			<li><a href="#">Another Action</a></li>
			<li><a href="#">Something Else</a></li>
			<li class="divider"></li>
			<li><a href="#">Separated Link</a></li>
		</ul>
	</li>
</ul>